/* body {
  background-color: #e4dbdba5;
} */
#board {
  display: grid;
  grid-template-columns: repeat(10, 3.5rem);
  grid-template-rows: repeat(10, 3.5rem);
  column-gap: 2px;
  row-gap: 2px;
  width: 70%;
}
p {
  margin: auto;

}

.cell {
  background-color: gray;
  font-size: 40px;
}

#dice {
  margin: auto;
  width: 5%;
  height: 5%;
  margin-top: -70px;
}

.btn {
  margin: 100px 0 0 50px;
}
